
<main class="full-beer-holding">
  {{#with beer}}
  <img src={{image_url}}  alt="full beer" class="full-beer-img">
  <div class="beers-holding full-holding">
      
            {{> beerpartial this}}
                <h5><strong>Food Pairing</strong></h5>  
                <ul>
                  {{#each food_pairing}}
                  <li>{{this}}</li>
                  {{/each}}
                </ul>
                <p class="brewer-tips"><strong>Brewer Tips: </strong>{{brewers_tips}}</p>
      
  </div>
  {{/with}}
</main>